.login__Container {
  min-height: 85vh;
  justify-content: center;
  align-items: center;
}
.home__LoginForm {
  animation: fadeUp 1s ease forwards;

  form {
    background-color: transparent;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
