.login__Container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .home__LoginForm {
    min-width: 30%;
    background-image: linear-gradient(white, transparent);
    box-shadow: grey 0px 0px 190px 0px;

    animation: fadeUp 1s ease forwards;

    form {
      background-color: transparent;
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
