// sidebar.scss
.sidebar {
  background-color: var(--theme-color);
  transition: width 0.5s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 0px;
  height: 100%;
  
  @media (max-width: 768px) {
    width: 0;
    position: fixed;
    overflow: hidden;
    height: auto;
    bottom: 0;
    top: 0;
    z-index: 9998;
  }

  .item {
    z-index: 9999;

    .title {
      padding: 20px;
      font-size: 12px;
      font-weight: 200;
      color: var(--fade-text-color);
    }

    .listItem {
      padding: 20px;
      margin: 10px;
      display: flex;
      align-items: center;
      color: var(--light-text-color);
      gap: 10px;
      transition: all 0.25s ease;

      &:hover {
        color: var(--light-text-color);
        z-index: 2;
        box-shadow: black 0px 0px 10px 0px;
      }

      &.active {
        z-index: 1;
        color: var(--light-text-color);
        box-shadow: black 0px 1px 10px 0px;
      }
    }
  }
}

.sidebar.open {
  width: 250px;
}

.sidebar .nav-link {
  padding: 10px 15px;
  z-index: 9999;
  display: block;
}

.sidebar .nav-link:hover {
  background-color: #ddd;
}

.sidebar-toggle {
  display: none;
  position: absolute;
  z-index: 1100;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sidebar-toggle {
    z-index: 9999;
    top: 3px;
    left: 3px;
    position: fixed;
    display: block;
  }
}
