@import url("./reset.scss");
@import url("./variables.scss");

//background
.bg {
  background-image: url("/images/background/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  font-size: var(--body-font-size-default);
  font-weight: 400;
  line-height: 1;
  color: var(--theme-color);
}

//layout
.main {
  height: 100dvh;
  font-size: var(--font-size-default);
}

.admin__Container {
  min-height: 100%;
  .admin__Content {
    display: grid;
  }
}

//section
section {
  position: relative;
  z-index: 3;

  .section__LightTitle {
    color: var(--light-text-color);
    position: relative;
    padding: 10px 0;
  }

  .section__DefaultTitle {
    padding: 10px 0;
    color: var(--theme-color);
    position: relative;
    font-size: var(font-size-content-title-medium);
  }

  //content + theme color
  .section__Content {
    z-index: 2;

    .content__Title {
      color: var(--theme-color);
      padding: 10px;
      font-size: var(--font-size-content-subtitle-medium);
    }

    .content__SubTitle {
      color: var(--theme-color);
      position: relative;
      padding: 10px;
      font-size: var(--font-size-content-subtitle-medium);
    }

    .content__FadeTitle {
      font-size: 1.2rem;
      color: var(--fade-text-color);
      margin-bottom: 40px;
    }

    .content__SubTitle::after {
      content: "";
      position: absolute;
      background-color: var(--theme-color);
      top: 30%;
      left: 0;
      height: 50%;
      border-radius: 4px;
      width: 2px;
    }
  }
}

//button
button {
  padding: 5px 30px;
}

.btn__Primary {
  text-align: center;
  border-radius: 4px;
  color: var(--light-text-color);
  transition: all 0.25s ease;
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color);

  &:hover {
    background-color: var(--light-text-color);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
  }
}

.btn__Danger {
  border-radius: 4px;
  transition: all 0.25s ease;
  background-color: var(--danger-bg-color);
  color: var(--light-text-color);
  border: 1px solid var(--danger-bg-color);

  &.outline {
    color: white;
  }

  &:hover {
    background-color: var(--light-text-color);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
  }
}

.btn__Light {
  padding: 5px 30px;
  border-radius: 4px;
  color: var(--light-text-color);
  transition: all 0.25s ease;
  background-color: transparent;
  border: 1px solid var(--light-bg-color);
  &:hover {
    background-color: var(--light-bg-color);
    color: var(--theme-color);
  }
}

@import url("./responsive.scss");
