:root {
  //    Background color:
  --sidebar-bg-color: #444;
  --light-bg-color: white;

  //    Active color:
  --sidebar-active-color: #333;

  //    Text Color:
  --light-text-color: #fff;
  --light-dark-color: black;

  //    Hover Color:
  --hover-light-color: #fff;
  --hover-dark-color: #444;
}
