:root {
  //    Background color:
  --sidebar-bg-color: #444;
  --light-bg-color: white;

  //    Active color:
  --sidebar-active-color: #333;

  //    Text Color:
  --light-text-color: #fff;
  --dark-text-color: black;
  --fade-text-color: #666;

  //    Hover Color:
  --hover-light-color: #fff;
  --hover-dark-color: #444;

  --font-size-largh: 120px;
  --font-size-medium: 30px;

  // Theme Color:
  --theme-color: rgb(0, 43, 66);
}
