.reservation {
  width: 100%;

  .reservation__Select {
    padding: 10px;
    z-index: 1111;
    border-radius: 4px;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
