.hero {
  background-image: url("/images/background/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100dvh;
  box-shadow: inset var(--theme-color) 20rem 0px 20rem 200px;

  .hero-content {
    height: 100%;
    width: 50%;
    padding-top: 15%;
    padding-left: 5%;
    color: var(--light-text-color);
    h1 {
      font-size: var(--font-size-extra-largh);
    }
  }
  @media screen and (max-width: 739px) {
    box-shadow: inset var(--theme-color) 15rem 0px 200rem 20px;
    .hero-content {
      width: 100%;
      padding: 200px 20px;
      text-align: center;
      h1 {
        font-size: var(--font-size-content-title-medium);
      }
    }
  }
}
