.sidebar {
  background-color: var(--sidebar-bg-color);
    .item {
    .title {
      padding: 10px;
      font-size: 12px;
      font-weight: 200;
      color: grey;
    }

    .listItem {
      padding: 20px;
      display: flex;
      align-items: center;
      color: var(--light-text-color);
      gap: 10px;

      &:hover {
        background-color: var(--sidebar-active-color);
      }

      &.active {
        background-color: var(--sidebar-active-color);
      }
    }
  }
}
